<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bredykhin test task</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>

    @@include('./header.html')

    <main>
        <section class="fast-prototyping text-center">
            <div class="container">
                <h1 class="main-h1">Lightning fast prototyping</h1>
                <p>Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.</p>
                <a href="" class="try-for-free-btn btn btn-primary">Try For Free</a>
                <img src="../public/images/isometric.png" class="main-img" alt="App screenshot">
            </div>
        </section>
        <section class="way-to-navigate text-center">
            <div class="container">
                <h1>Fastest way to navigate</h1>
                <div class="statistic-blocks text-left row flex-nowrap">
                    <div class="col">
                        <div class="statistic-block">
                            <img src="../public/images/pro-icon.svg" alt="Pro icon">
                            <h4>Design with real data</h4>
                            <p>Ever wondered if you're too reliant on a client for work? Slate helps you identify .</p>
                            <ul class="no-style-list">
                                <li class="socnet-statistic">
                                    <div class="titles d-flex justify-content-between">
                                        <div>Facebook</div>
                                        <div><b>35,929</b></div>
                                    </div>
                                    <div class="progress progress-small">
                                        <div class="progress-bar bg-success" style="width: 35.929%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="socnet-statistic">
                                    <div class="titles d-flex justify-content-between">
                                        <div>Twitter</div>
                                        <div><b>28,854</b></div>
                                    </div>
                                    <div class="progress progress-small">
                                        <div class="progress-bar bg-info" style="width: 28.854%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="socnet-statistic">
                                    <div class="titles d-flex justify-content-between">
                                        <div>Behance</div>
                                        <div><b>1,843</b></div>
                                    </div>
                                    <div class="progress progress-small">
                                        <div class="progress-bar bg-secondary" style="width: 1.843%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="socnet-statistic">
                                    <div class="titles d-flex justify-content-between">
                                        <div>Instagram</div>
                                        <div><b>49,943</b></div>
                                    </div>
                                    <div class="progress progress-small">
                                        <div class="progress-bar bg-warning" style="width: 49.943%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="statistic-block">
                            <img src="../public/images/calendar-icon.svg" alt="Calendar icon">
                            <h4>Work at the speed of thought.</h4>
                            <p>Ever wondered if you're too reliant on a client for work? Slate helps you identify .</p>
                            <div class="circle-chart text-center">
                                <img src="../public/images/circles-chart.svg" alt="Circle chart">
                                <div class="text">
                                    <div class="sum"><b>$73,994</b></div>
                                    <div class="title">Facebook</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn btn-lightest">Try For Free</a>
            </div>
        </section>
        <section class="opentype-features text-center text-lg-left">
            <div class="container">
                <div class="d-lg-flex align-items-lg-center">
                    <div class="scroll-animation fade-in slide-in-left">
                        <h1>OpenType features and Variable fonts</h1>
                        <p>Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.</p>
                        <form action="">
                            <div class="subscribe-form d-md-flex justify-content-md-center justify-content-lg-start">
                                <input type="email" placeholder="Enter Your Adress Email">
                                <button class="btn btn-primary">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <div class="img-block scroll-animation fade-in slide-in-right">
                        <img src="../public/images/mobile-screen.png" alt="Mobile screenshot">
                    </div>
                </div>
            </div>
        </section>
        <section class="together-better text-center">
            <div class="container">
                <div class="content">
                    <h1>Work better together</h1>
                    <p>Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. We'd love to show you what we're building...</p>
                    <div>
                        <div class="socnet-statistic">
                            <div class="progress">
                                <div class="progress-bar bg-primary" style="width: 35.929%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="titles d-flex justify-content-between">
                                <div>Facebook</div>
                                <div><b>35,929</b></div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary">Try For Free</button>
                </div>
            </div>
        </section>
    </main>

    @@include('./footer.html')

    <script src="../public/js/vendor.min.js"></script>
    <script src="../public/js/main.min.js"></script>
    <script src="https://kit.fontawesome.com/e2f76f3e82.js" crossorigin="anonymous"></script>

</body>
</html>